.containerform {
    padding: 5%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 8% 45% 70%;
    grid-template-rows: 35% 35% 35% 35% 35%;
    grid-gap: 5px;
}

.containertitle {
    width: 100%;
    height:35%;
    background-color: #cdd6d2;
    border-right: 3px solid #000000;
}

.containertitle-a {
    width: 100%;
    height:120%;
    background-color: #cdd6d2;
    border-right: 3px solid #000000;
}

.sinborde {
    border: 0;
    width: 70%;
}

.sinborde-b {
    border: 0;
    width: 30%;
}

.submit {
    width: 9%;
    height: 100%;
    background-color: rgba(247, 247, 8, 0.801);
    color: #000000;
    border-radius: 8px;
    border: 0;
}

.submit:hover {
    color: #FFFFFF;
}

.error {
    border-color: red;
}

.div-error {
    color:red;
}

.div-error-a {
    color:red;
}

.div-error-b {
    color:red;
}

@media screen and (max-width: 768px) {
    .containerform {
        grid-template-columns: 70%;
        grid-template-rows: 15px 20px 15px 45px 15px 45px 15px 45px 15px 45px;
        grid-gap: 5px;
    }

    .containertitle, .containertitle-a {
        background-color: transparent;
        border-right: none;
        margin: 0px 0px 0px 0px;
    }

}
