body {
  margin: 0;
}
header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  font-family: 'Sansita Swashed', cursive;
}

header h1 {
  margin: 0;
  position: absolute;
  align-self: center;
  font-size: 10vh;
  line-height: 1.2em;
  text-shadow: 0px 1px 0px #ffd12e, 0px 6px 0px #ffd12e, 6px 6px 0px #ffd12e,
    -6px 6px 0px #ffd12e, -6px 0px 0px #ffd12e, -6px -6px 0px #ffd12e,
    6px 6px 0px #ffd12e, 6px -6px 0px #ffd12e, 6px 0px 0px #ffd12e,
    -3px 6px 0px #ffd12e;
  color: #ffffff;
  font-family: 'Sansita Swashed', cursive;
}

.gray1-square {
  width: 100%;
  height: 60%;
  background-color: #ffd12e;
}

.gray2-square {
  width: 100%;
  height: 30%;
  background-color: #525252;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 8vh;
  }

  header {
    height: 12vh;
  }
}

@media screen and (min-width: );
