.container .icon {
    position: absolute;
    height: 10%;
    width: auto;
    right: 6%;
    top: -35px;
    cursor: pointer;
}

.review-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container section {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
}

.review-section {
    margin-top: 2rem;
}

.review-container h2 {
    color: #A0A0A0;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
}

.review-container img {
    width: 100%;
    height: auto;
    
}

.review-container p {
    color: #000000;
    font-family: Source Sans Pro;
    font-size: 0.9rem;
}

.review-section .content img{
    height: 40px;
    width: auto;
    margin: 10px;
}

.content span {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}