<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../Styles.css">
   <link rel="stylesheet" href="./Specifications.css">
   <script src = "Specifications.css" defer></script>
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
   <title>Document</title>
</head>
<body>
   <div class="align">
      <div class="container">
         <h1 class="espec">Especificaciones</h1><br>
         <table>
            <tr>
               <th colspan="2">Prestaciones</th>
            </tr>
            <tr>
               <td class="left">Prestacion 1</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td class="left">Prestacion 2</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td class="left">Prestacion 3</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td class="left">Prestacion 4</td>
               <td>Valor</td>
            </tr>
         </table>
         <table>
            <tr>
               <th colspan="2">Dimensiones, Peso</th>
            </tr>
            <tr>
               <td class="left">Prestacion 1</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td class="left">Prestacion 2</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td class="left">Prestacion 3</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td class="left">Prestacion 4</td>
               <td>Valor</td>
            </tr>
         </table>
      </div>
   </div>
</body>
</html>