<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Styles.css">
    <link rel="stylesheet" href="./News.css">
    <title>News</title>
</head>
<body>
    <div class ="align">
        <h1>Noticias destacadas</h1>
        <div class = "container-noticias">
            <div class="container-izqda">
                <div>                   
                    <div>
                        <h2 class="titulo" style="margin-right: 20px;">Lorem ipsum dolor sit amet</h2>
                    </div>
                    <section class="parrafo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin. Nunc sapien orci, commodo eget massa ac, viverra condimentum purus. Curabitur iaculis elementum risus vitae egestas. Integer consectetur ex et mauris eleifend aliquam. Sed luctus accumsan urna, sed porttitor turpis pretium lobortis.</p>
                    </section>
                </div>
                <div>
                    <div>
                        <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin.</p>
                    </div>
                </div>
            </div>
            <div class="container-dcha">
                <div>
                    <img style="width: 400px; height: 250px;" src = "../assets/audi-tt.jpg">
                </div>
                <div>
                    <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin.</p>
                </div>
                <div>
                    <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin.</p>
                </div>
            </div>
        </div>            
    </div>
</body>
</html>

