<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Styles.css">
    <link rel="stylesheet" href="./News.css">
    <title>News</title>
</head>
<body>
    <div class ="align">
        <h1>Noticias destacadas</h1>
        <div class = "container-noticias">
                <div>                   
                    <div class="noticia1">
                        <img class="img-mv" src = "../assets/audi-tt.jpg">
                        <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                        <h3>COMBUSTIÓN</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin. Nunc sapien orci, commodo eget massa ac, viverra condimentum purus. Curabitur iaculis elementum risus vitae egestas. Integer consectetur ex et mauris eleifend aliquam. Sed luctus accumsan urna, sed porttitor turpis pretium lobortis.</p>
                        <h4>⏳ Hace 12 minutos</h4>
                    </div>
                </div>

                <div><img class="img-d" src = "../assets/audi-tt.jpg"></div>

                <div class="noticia2">
                    <img class="img-mv" src = "../assets/audi-tt.jpg">
                    <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                    <h3>COMBUSTIÓN</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin.</p>
                    <h4>⏳ Hace 12 minutos</h4>
                </div>

                <div>
                    <div class="noticia2">
                        <img class="img-mv" src = "../assets/audi-tt.jpg">
                        <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                        <h3>COMBUSTIÓN</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin.</p>
                        <h4>⏳ Hace 12 minutos</h4>
                    </div>
                </div>

                <div></div>

                <div class="noticia2">
                    <img class="img-mv" src = "../assets/audi-tt.jpg">
                    <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                    <h3>COMBUSTIÓN</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin.</p>
                    <h4>⏳ Hace 12 minutos</h4>
                </div>
        </div>            
    </div>
</body>
</html>

