<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./Styles.css">
    <title>Car-Visualizer</title>
</head>
<body>
    <div class = "align">
        <div class = "container">
            <div class="containercar">
                <div class="item-a">
                    <img src = "./assets/bmw.jpg">
                </div>
                <div class="item-b">
                    <img src = "./assets/mercedes.jpeg">
                </div>
                <div class="item-c">
                    <img src = "./assets/ferrari.jpg"> 
                </div>
                <div class="item-d">
                    <img src = "./assets/seat.jpg"> 
                </div>
                <div class="item-e">
                    <img src = "./assets/peugeot.jpg">
                </div>
                <div class="item-f">
                    <img src = "./assets/mustang.jpg"> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>