<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./Styles.css">
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
   <title>Review</title>
</head>
<body>
   <div class="align">
      <h1>Lorem ipsum dolor sit amet</h1>
      <div class="container">
         <section>
            <img src="./assets/subasta-bmw-m4-gts-1975555.jpg">
            <div class="content">
               <h2>Lorem ipsum</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim velit eos sed repellat. Ullam iure dolore magni asperiores nulla similique dicta voluptatum ducimus quibusdam, ratione impedit obcaecati alias et officiis.</p>
            </div>
         </section>
         <section>
            <img src="./assets/subasta-bmw-m4-gts-1975555.jpg">
            <div class="content">
               <h2>Lorem ipsum</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim velit eos sed repellat. Ullam iure dolore magni asperiores nulla similique dicta voluptatum ducimus quibusdam, ratione impedit obcaecati alias et officiis.</p>
            </div>
         </section>
      </div>
   </div>
</body>
</html>