body{
    margin: 0px;
    background-color: #E2E2E2;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 1.8rem;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px 0px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 3px;
    color: #FFD12E;
}

h4 {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 5px 0px;
    color: #C9C9C9;
}

p {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-size: 1rem;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.align {
    padding: 0 18%;
}

.container {
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    border: 1px solid #E2E2E2;
    padding: 3%;
    min-height: 70%;
}

.container img {
    width: 90%;
    height: 100%;
    align-self: center;
    object-fit: cover;
}

table {
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: #F9F9F9;
    padding: 1rem;
}

td:nth-child(2) {
    text-align: right;
}

tr {
    height: 1.6rem;
    font-family: Source Sans Pro;
}

th {
    text-align: left;
    color: #FFD12E;
    border-bottom: 1px solid  #FFD12E;
}
